/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
@page {
    size: A4;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #061225;
}

.container {
    width: 70%;
    max-width: 500px;
    background-color: #000000b6;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    animation: slideIn 0.5s ease-in-out;
}



h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #fffffff6;
    animation: fadeIn 1s ease-in-out;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

.input-group label {
    display: block;
    font-size: 15px;
    color: #62aee0;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 15px;
    border: 2px solid #585bdd;
    border-radius: 8px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.03);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.spinner {
    display: none;
    width: 40px;
    height: 40px;
    margin: 20px auto;
    border: 5px solid #ccc;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


#convertToPdfButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

#convertToPdfButton:hover {
    background-color: #219150;
    transform: scale(1.05);
}



.page-wrapper {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

#TotalCards {
    background-color: #022a35;
    width: 793px;
    height: 1122.5px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#printSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 2px;
    margin-right: 1px;
}

.gate-pass-card,
.terms-wrapper {
    width: 396.5px;
    background-color: #e2503a;
    box-sizing: border-box;
    height: 265.6px;
    border-radius: 3px;
    display: grid;
    grid-template-rows: 62px 143px 52px;
    grid-template-columns: 385px;
    padding-top: 4px;
    padding-left: 3.5px;
}

.header,
.body,
.footer {
    display: flex;
    border: 2px solid black;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 198px;
}

.header-left {
    border-right: 2px solid black;
    gap: 10px;
}

.header-right p,
.header-left p {
    margin-left: 4px;
}


.mil-dri,
.gate-pass-title {
    font-weight: bold;
    font-size: 13px;
}

.body {
    border-top: 0px;
    border-bottom: 0px;
}

.photo,
.details {
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 198px;
}

.details {
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;

}

.value {
    font-weight: 500 !important;
    font-size: 13px;
}

.photo img {
    width: 90px;
    height: 120px;
    border: 1px solid #000;
    background-color: #f1e9e9;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-top: 6px;
    margin-left: 15px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    font-size: 13px;
    padding-right: 3px;
}

.footer div p {
    font-weight: 600;
}

.terms-wrapper {
    padding: 3px;
}

#terms-conditions-card {
    padding: 10px;
    border: 2px solid black;
    height: 257px;
}

.terms-list {
    margin-top: 15px;
    padding-left: 10px;
    list-style-type: decimal;
    font-size: 13px;
}

.terms-list li {
    margin-bottom: 3px;
}
.btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#printButton {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: greenyellow;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid green;
}

#printButton:hover {
    transform: scale(1.01) !important;
    background-color: #5fbf11;
    outline: 2px solid greenyellow;
}